<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome to homepage</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur distinctio ducimus eligendi eos expedita hic in, itaque magnam, maxime minima non officia optio quae, ratione repellendus soluta sunt voluptate!</span><span>Ad aliquid aspernatur consequuntur cumque cupiditate dolorem, eius eum facere facilis labore laboriosam laborum laudantium nemo neque officia quaerat quibusdam quidem quis rerum sed sequi temporibus unde ut, veniam voluptas.</span><span>Amet at esse est ex explicabo facere hic illo maxime minima obcaecati odio provident, voluptatibus. Accusantium deserunt doloremque eaque earum, fugit, harum ipsum libero, natus possimus quae qui sunt! Dolorem!</span></p>
</body>
</html>